.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.detail {
    margin-top: 20px;
    flex-wrap: nowrap;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.detail>div {
    margin-top: 5px;
}

.company_logo {
    width: 20%;
    border: 3px solid rgba(1, 1, 66, 0.3);
    border-radius: 10px;
    font-weight: bolder;
}

.company_logo img {
    display: flex;
    width: 100%;
}

.brand_name {
    color: black;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
}

.selling_price {
    font-size: 18px;
}

.actual_price {
    color: gray;
    overflow: hidden;
}

.off_upto {
    color: green;
}

.deal {
    color: green;
    margin-top: 10px;
}


/* media query */
@media screen and (max-width: 1441px) and (min-width: 995px){
    .swiper{
        max-width: 300px;
    }
}
@media screen and (max-width: 575px) {
    .right-side{
        margin-left: 15px;
    }  
}
@media screen and (max-width: 995px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 68%;
    }
}