{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Cart{% endblock title %} 
{% block page_css %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!--Custom CSS-->
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}"> 
{% endblock page_css %} 
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-sm-8 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: left;">Card Items</h4>
                    <hr> 
                    {% if carts is None %}
                    <div class="text-danger mb-3" style="padding-top: 5px;">The Cart is Empty</div>
                    <img class="mb-2" src="{% static 'app/images/logo/cart.gif' %}" width="150px" alt=""> 
                    {% else %} 
                    {% for p in carts %}
                    <div class="item">
                        <div class="text-center">
                            <img src="{{ p.product.img.url }}" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                        </div>
                        <div class="card_right">
                            <div class="detail">
                                <div class="brand_name">{{ p.product.brand_name }}</div>
                                <div class="product_title">{{ p.product.product_title }}</div>
                                <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
                                <div class="product_price">
                                    <span class="selling_price"><strong><span>&#8377;</span>{{ p.product.selling_price }}</strong>
                                    </span> &nbsp;
                                    <span class="actual_price"><strike><span>&#8377;</span>{{ p.product.actual_price }}</strike>
                                    </span>&nbsp;
                                    <span class="off_upto"><strong>{{ p.product.Calculate_Offer }}<span>% off</span></strong>
                                    </span>
                                </div>
                            </div>
                            <div style="float: left;">
                                <a class="minus-cart btn" pid="{{ p.product.id }}"><i class="fas fa-minus-square fa-lg"></i></a>
                                <span id="quantity" id="cart" style="display: inline-block; border: 1px solid gray; width: 50px; border-radius: 3px;">1</span>
                                <a class="plus-cart btn" pid="{{ p.product.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
                            </div>
                            <div style="float: right;">
                                <a href="#" class="btn btn-sm btn-danger mr-3" pid="{{ p.product.id }}">Remove</a>
                            </div>
                        </div>
                    </div>
                    <hr> 
                    {% endfor %} 
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3>Price Details</h3>
                    <ul class="bill">
                        <li>
                            Amount <span><span>₹</span id="amount">{{ amount }}</span>
                        </li>
                        <li>
                            Discount <span class="text-success"><span>- ₹</span><span id="discount">{{ discount }}</span></span>
                        </li>
                        <li>
                            {% if shipping_price == 0.0 %} 
                            Shipping <span class="text-success">Free</span> 
                            {% else %} 
                            Shipping <span><span>₹</span>{{ shipping_price }}</span>
                            {% endif %}
                        </li>
                        <hr>
                        <li>
                            <span style="font-size: larger;"><strong>Total Amount</strong></span> <span style="font-size: larger;"><strong><span>₹</span><span id="total">{{ totalamount }}</span></strong>
                            </span>
                        </li>
                        <hr>
                        <li>
                            <span class="text-success" style="font-family: sans-serif; word-spacing: 1px;">You will save <strong><span>₹</span><span id="save">{{ save }}</span>
                            </strong> on this order</span>
                        </li>
                    </ul>
                    <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">We accept</h5>
                    <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 
{% block page_js %}
<script>
    $(document).ready(function() {
        $('.minus-cart').click(function() {
            var id = $(this).attr("pid").toString();
            console.log(id)
            var elm = this.parentNode.children[2]

            $.ajax({
                type: "GET",
                url: "/minuscart",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    console.log(data)
                    document.getElementById('quantity').innerText = data.quantity
                    document.getElementById('amount').innerText = data.amount
                    document.getElementById('discount').innerText = data.discount
                    document.getElementById('total').innerText = data.totalamount
                    document.getElementById('save').innerText = data.save
                }
            })
        })
    })
</script>
{% endblock page_js %}