{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset Password Confirm{% endblock title %}

{% block page_css %}
{% endblock page_css %}


{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-3">
            {% if messages %}
                {% for message in messages %}
                    <div {% if messages %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-6 offset-sm-0">
            <h3>Reset Password</h3>
            <hr>

            <form action="" method="POST" class="shadow p-5">
                {% csrf_token %}

                {{ form|crispy }}
        
                <div class="mt-4 ">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="text-center text-primary fw-bold"> <small>I remember the Password. <a href="{% url 'login' %}" class="text-danger">Login Now</a></small></div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}


{% block page_js %}
{% endblock page_js %}