{% extends 'app/base.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% block title %}Profile{% endblock title %} 
{% block page_css %}
<style>
</style>
{% endblock page_css %} 

{% block content %}
<div class="col-sm-3" style="position: fixed; right: 15px; z-index: 10; text-align: center;">
    {% if messages %} {% for message in messages %}
    <div {% if messages %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" style="font-family: 'Times New Roman', Times, serif;">{{ message }} {{ user.first_name }} </div>
    {% endfor %} {% endif %}
</div>
<div class="container my-5">
    <div class="row">
        <h4>Welcome <span class="text-capitalize">{{ user.first_name }}</span></h4>
        <div class="col-sm-2 border-end">
            <hr>
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
                <li class="d-grid"><a href="{% url 'orders' %}" class="btn">Orders</a></li>
                <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn">Password</a></li>
                <li class="d-grid"><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></li>
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% comment %} {{ form | crispy }}  {% endcomment %}
    
                    {% for fm in forms %}
                    <div class="mb-1">{{ fm.label_tag }}</div><div class="mb-2">{{ fm }}</div> <small class="text-danger">{{ fm.errors | striptags }}</small>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
    
                    {% if form.non_field_error %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
        </div>
    </div>
</div>
{% endblock content %} 


{% block page_js %} 
{% endblock page_js %}